# Arquivos de configuração do ambiente
front/node_modules
front/playwright.config.ts
front/pnpm-lock.yaml
front/pnpm-workspace.yaml
front/tsconfig.json
front/src/vite-env.d.ts
back/vendor
back/composer.lock

# Arquivos com variáveis de ambiente
back/.env
front/.env

# Arquivos com resultados de teste
front/test-results

#Arquivos com dados de sessão
front/test/e2e/.auth